<h1>New user</h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email, :placeholder => 'user@domain.com' %>
  <%= f.input :country, :priority => ["India"] %> 
	<%= f.button :submit %>
<% end %>